- if single_events.size > 0
  = render partial: 'modules/calendars/single_event_list', locals: {single_events: single_events}

- else
  .well
    Herzlichen Glückwunsch, du hast das Ende unseres Kalenders erreicht :-)
