.day-divider
  %h2= I18n.localize(day.date, format: "%A, %d. %B %Y")
  = link_to t('.suggest_event'), new_suggestion_path

- day.each do |entry|
  = render partial: 'modules/calendars/entry', object: entry
