.calendar-categories
  .kddk
    %ul.kddk-menu
      %li.active.js-kddk-preset{'data-preset' => 'diy'}
        DIY
      - presets.each do |preset|
        %li.js-kddk-preset{'data-preset' => preset.id}
          = preset.title.upcase
    .kddk-categories
      = render partial: 'modules/categories/calendar-selector', locals: { categories: categories, selected: [] }