
.minical
  .minical-wrapper
    - @single_events_by_day.each do |day, events|
      .minical-day
        .minical-day-header
          %strong= I18n.localize(day, format: "%a")
          = I18n.localize(day, format: "%b %d")
        .minical-day-body
          - events.each_with_index do |event, index|
            - category_color = event.category.color
            - if index % 3 == 0
              .minical-cell.first-cell{ 'style' => "background-color: #{category_color}" }
            - else
              .minical-cell{ 'style' => "background-color: #{category_color}" }

