= link_to "", event_single_event_path(event.event, event), class: "minical-cell #{'first-cell' if first_cell}", style: "background-color: #{event.category.color}", data: { behavior: 'event-tooltip--trigger', event_id: event.id }

= render 'events/m_tooltip', { event: event }