- calendar.each do |day|
  = render partial: 'modules/calendars/show_day', locals: { date: day.date }
  - day.each do |single_event|
    = render partial: 'modules/calendars/entry', locals: { single_event: single_event }
