.calendar-startselector
  %nav.months
    %ul= render partial: 'modules/calendars/startselector/month', collection: months

  %nav.days
    %ul= render partial: 'modules/calendars/startselector/day', collection: dates
