.calendar-startselector
  %nav.months
    %ul
      - months.each do |month|
        %li{data: month.data, class: month.css_class }
          = month

  %nav.days
    %ul
      - dates.each do |date|
        %li{class: date.css_class }
          .weekday= date.weekday
          .day= date.day
