.calendar-startselector
  %nav.months
    %ul
      - months.each do |month|
        %li{data: { year: month.year, month: month.month }, class: month.css_class }
          = month

  %nav.days
    %ul
      - dates.each do |date|
        %li{class: [(date[:active] ? "active" : false), (date[:has_events] ? "has_events" : false)] }
          .weekday= date[:weekday]
          .day= date[:day]
