.calendar-startselector
  %nav.months
    %ul= render partial: 'modules/calendars/start_selector/month', collection: start_selector.months

  %nav.days
    %ul= render partial: 'modules/calendars/start_selector/day', collection: start_selector.days
