.calendar-startselector
  %nav.months
    %ul= render partial: 'modules/calendars/startselector/month', collection: start_selector.months

  %nav.days
    %ul= render partial: 'modules/calendars/startselector/day', collection: start_selector.dates
