
$highlight_color: #C02900
$link_color: $highlight_color - #222
$tag_color: #eee
$header_left_padding: 16px

header
  width: 100%
  top: 0px
  color: white
  background-color: #EB2810
  a
    color: white
  a.logo
    margin-left: $header_left_padding
    text-decoration: none
    &:hover
      text-decoration: underline
  div
    float: right
    margin-right: $header_left_padding

  -moz-box-shadow: 0 2px 5px #ccc
  -webkit-box-shadow: 0 2px 5px #ccc
  box-shadow: 0 2px 5px #ccc

  background-color: #C43C35
  background-image: -webkit-linear-gradient(top, rgb(238, 95, 91), rgb(196, 60, 53))
  background-repeat: repeat-x
  border-bottom-color: rgba(0, 0, 0, 0.246094)
  border-bottom-style: solid
  border-bottom-width: 1px
  color: white
  padding-bottom: 8px
  padding-top: 11px
  
body
  margin: 0px
  font-family: 'Quattrocento Sans', sans-serif
  font-size: 16px
  section
    padding-left: $header_left_padding
    padding-right: $header_left_padding
    
    padding-bottom: 20px
    
    a
      img
        border: none
    a
      color: black
      &:hover
        color: $link_color

    h2
      font-size: 18px
    h3
      color: $highlight_color
      font-size: 16px

aside
  float: none


footer
  clear: both
  min-height: 20px
  font-size: 11px
  padding-bottom: 10px
  text-align: center
  color: black
  a
    color: black

p.welcome
  background-image: url("welcome_logo.png")
  background-repeat: no-repeat
  padding-left: 50px
  min-height: 56px
  
#social_stuff
  display: none

// Flash
.flash_notice, .flash_error, .flash_alert
  padding: 5px 8px
  margin: 10px 0 

.flash_notice
  background-color: #CFC
  border: solid 1px #6C6

.flash_error, .flash_alert
  background-color: #FCC
  border: solid 1px #C66

.fieldWithErrors
  display: inline

// Error Messages

.error_messages
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font-size: 12px
  h2
    text-align: left
    font-weight: bold
    padding: 5px 10px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    margin: 8px 10px
  ul
    margin: 0


