.DS_Store
.bundle
log/*
tmp/
.sass-cache/
.rvmrc
public/assets
doc/*
.yardoc/*
nbproject/*
*.swp
rails_best_practices_output.html
public/uploads/*
.powenv
public/thisiscologne.json
config/localeapp.yml
cert_file
coverage
log/localeapp.yml
.localeapp
.librarian/
.tmp/
.vagrant/
vendor/gems
vendor/bundle
.env
config/travis/travis-deploy-key
