.DS_Store
.bundle
log/*
tmp/
.sass-cache/
config/database.yml
.rvmrc
public/assets
doc/*
.yardoc/*
nbproject/*
*.swp
rails_best_practices_output.html
public/uploads/*
.powenv
public/thisiscologne.json
config/omniauth.yml
config/localeapp.yml
config/initializers/devise.rb
config/twitter.yml
cert_file
coverage
log/localeapp.yml
.localeapp
puppet/modules
.librarian/
.tmp/
.vagrant/
