language: ruby
rvm:
  - 2.1
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
notifications:
  slack: hacken-in:v0VPwCbdNxNY7oVfJGsFLAJS
bundler_args: --without development
before_script:
  - psql -c 'create database hcking_test;' -U postgres
  - "cp config/database.yml_travis config/database.yml"
script: "bundle exec rake db:drop db:create db:migrate ci"
sudo: false
cache: bundler
addons:
  postgresql: "9.3"
