.event-sidebar
  = render "events/map", event: @single_event
  .event-map
  .single_event_ical
    %i{class:"icon-calendar"}
      %a#icaldownload{href:single_event_ical_path(@single_event)} iCal Download
  = render 'modules/social/share'
  .clearfix
  = render 'single_events/participants'