.blog_extract
  margin-top: 20px

  .blog_text_span
    padding-top: 10px

  .blog_image_span
    padding-top: 10px

  .podcast_player
    margin-bottom: 5px
    .mejs-clear
      clear: none

  .blog_continue_link
    color: $dark_text_color
    font-weight: bold
    text-decoration: none
