%h3 Kommentare

- if commentable.comments.count == 0
  %p
    %em Keine Kommentare vorhanden.
- else
  - commentable.comments.each do |comment|
    = render partial: "comments/comment", locals: {comment: comment}

- if can? :create, Comment
  :javascript
    $(function() {
      
      function showPreview() {
        $('#comment_body').change(updatePreview).keyup(updatePreview);
        
        if ($('.markdown-preview').is(':hidden'))
          $('.markdown-preview').slideDown();
        else
          $('.markdown-preview').slideUp();
          
        $('#comment_body').change();
      }
      
      function updatePreview() {
        var comment_text = $('#comment_body').val();
        var generated_html = new Showdown.converter().makeHtml(comment_text);
        $('.markdown-preview').html(generated_html);
      }
      
      
      // preview for comment
      $('a.show-preview').click(function(e) {
        e.preventDefault();
        
        showPreview();
      });
      
    });
  
  .markdown-preview
  = render partial: "comments/form", locals: {comment: commentable.comments.new(body: params[:body])}
- else
  %p
    %em Sie müssen angemeldet sein, um Kommentare abgeben zu können.
