%h2 Alle Kommentare

- @comments.each do |comment|
  %h4 Kommentar für #{link_to comment.commentable.name, commentable_path(comment)}
  = render partial: "comments/comment", locals: {comment: comment}
