
.minical
  overflow: auto
  margin-bottom: 60px

.minical-day
  width: 95px
  height: 115px
  overflow: auto
  float: left
  margin-left: 10px

  &.active
    .minical-day-header
      color: #e8007e
      background: url(cal-star.png) no-repeat 75px center

.minical-cell
  width: 31px
  height: 31px

  background-color: cyan
  -webkit-box-shadow: inset 10px 10px 20px 0px rgba(0, 0, 0, 0.4)
  box-shadow: inset 10px 10px 20px 0px rgba(0, 0, 0, 0.4)

  float: left
  margin-bottom: 1px
  margin-left: 1px

  &.first-cell
    margin-left: 0

