.love-tags
  .input-append
    %input{type: 'text', placeholder: 'Was liebst du?'}
    %span.add-on
      %i.icon-heart
  %ul
    %li
      Cupcakes
      %i.icon-remove
    %li
      Chocolate
      %i.icon-remove
    %li
      Cookies
      %i.icon-remove
    %li
      Strawberries
      %i.icon-remove
    %li
      Cream
      %i.icon-remove
.hate-tags
  .input-append
    %input{type: 'text', placeholder: 'Was boykottierst du?'}
    %span.add-on
      %i.icon-thumbs-down