- if current_user
  .tag-box.love-tags
    .input-append
      %input.js-like-tag-text{type: 'text', placeholder: 'Was liebst du?'}
      %button.btn.js-like-tag-button
        %i.icon-heart
    %ul.js-like-taglist
      - current_user.likes.each do |tag|
        %li{'data-tag' => tag.name, 'data-list' => 'like'}
          = tag.name
          %i.icon-remove.remove-tag.js-remove-tag

  .tag-box.hate-tags
    .input-append
      %input.js-hate-tag-text{type: 'text', placeholder: 'Was boykottierst du?'}
      %button.btn.js-hate-tag-button
        %i.icon-thumbs-down
    %ul.js-hate-taglist
      - current_user.hates.each do |tag|
        %li{'data-tag' => tag.name, 'data-list' => 'hate'}
          = tag.name
          %i.icon-remove.remove-tag.js-remove-tag
