= render partial: "menu"

%h1 Buttons

:markdown
  These are example buttons to show you the basic
  usage of KSS

%div
  %p
  = kss_section '1.1' do
    %button(class="nice$modifier_class")
      %span Button (button.nice)
    %a(href="#" class="button nice$modifier_class")
      %span Button (a.button.nice)
