.blog_sidebar
  .blog_advertisement
    Werbung
    = image_tag(@advertisement.picture.advertisement_image.rectangle.url)
  .blog_nerdletter
    %h2 Nerdletter
    %form
      %input{type: "text", placeholder: "E-Mail-Adresse"}
      %input{type: "image", src: asset_path("blog-nerdletter.png")}
