.single-event-sidebar
  .single_event_advertisement
    margin-top: 30px
    padding: 0px 5px
    font-size: 10px
    background-color: $light_background_color
    color: $lightest_text_color
    height: 195px
    width: 294px