%h2 Statistiken für #{@current_region.name}

%h3 Wochentage

= column_chart @chart_data

%p
  Weitere Statistiken für

%ul
  - Region.all.each do |region|
    %li= link_to region.name, show_statistic_path(region: region.slug)
