---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="286e705a91f3cf64359eb2df93a3516e",
        oauth_signature="%2B2Eur%2Fiw1DkRJhpm3m9afljqYMw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390730034", oauth_token="1402673720-WdCTqWDVATFhz97jNjbWcmHxYhBKpYS40HzQKZV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 26 Jan 2014 09:53:57 GMT
      status:
      - 200 OK
      x-access-level:
      - read-write-directmessages
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '10'
      x-rate-limit-reset:
      - '1390730842'
      x-transaction:
      - a0814d74749ef5af
    body:
      encoding: UTF-8
      string: '{"id":1402673720,"id_str":"1402673720","name":"hacken.in","screen_name":"hacken_in","location":"Germany","description":"An
        event calendar for nerds, geeks & hackers","url":"http:\/\/t.co\/vaKF7mRRtN","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/vaKF7mRRtN","expanded_url":"http:\/\/hacken.in","display_url":"hacken.in","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":107,"friends_count":157,"listed_count":3,"created_at":"Sat
        May 04 15:51:25 +0000 2013","favourites_count":25,"utc_offset":3600,"time_zone":"Berlin","geo_enabled":false,"verified":false,"statuses_count":85,"lang":"de","status":{"created_at":"Thu
        Jan 23 09:15:26 +0000 2014","id":426282014703362048,"id_str":"426282014703362048","text":"RT
        @muc_rubyshift: Tomorrow @triskweline is going to make a free Ruby on Rails
        course in University of Augsburg, at 14:00. Free of charge. \u2026","source":"\u003ca
        href=\"http:\/\/tapbots.com\/tweetbot\" rel=\"nofollow\"\u003eTweetbot for
        iOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Jan 23 09:05:16 +0000 2014","id":426279453837516800,"id_str":"426279453837516800","text":"Tomorrow
        @triskweline is going to make a free Ruby on Rails course in University of
        Augsburg, at 14:00. Free of charge. Spread the news!","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"triskweline","name":"Henning
        Koch","id":447845138,"id_str":"447845138","indices":[9,21]}]},"favorited":false,"retweeted":true,"lang":"en"},"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"muc_rubyshift","name":"RubyShift
        M\u00fcnchen","id":511750727,"id_str":"511750727","indices":[3,17]},{"screen_name":"triskweline","name":"Henning
        Koch","id":447845138,"id_str":"447845138","indices":[28,40]}]},"favorited":false,"retweeted":true,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000139255062\/00f2ce70ceaf92763071b8e34b118c6a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000139255062\/00f2ce70ceaf92763071b8e34b118c6a_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 26 Jan 2014 09:53:54 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?include_user_entities=false&skip_status=true&count=200&screen_name=hacken_in&cursor=-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="a94f61544618061c853493dc4d6450d3",
        oauth_signature="Osg5bo4NYORpQcD3qhN%2F6l6zQfE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390730034", oauth_token="1402673720-WdCTqWDVATFhz97jNjbWcmHxYhBKpYS40HzQKZV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 26 Jan 2014 09:53:58 GMT
      status:
      - 200 OK
      x-access-level:
      - read-write-directmessages
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '10'
      x-rate-limit-reset:
      - '1390730842'
      x-transaction:
      - 3a81de03f898ff83
    body:
      encoding: UTF-8
      string: '{"users":[{"id":1563031316,"id_str":"1563031316","name":"Munich Lambda
        People","screen_name":"defworkshop","location":"Mostly Europe","url":"http:\/\/www.meetup.com\/Munich-Lambda\/","description":"Functional
        Programming, Clojure, Haskell, OCaml and more. Organising meetups in Munich
        area and in other German cities.","protected":false,"followers_count":145,"friends_count":60,"listed_count":1,"created_at":"Tue
        Jul 02 12:13:09 +0000 2013","favourites_count":40,"utc_offset":3600,"time_zone":"Amsterdam","geo_enabled":false,"verified":false,"statuses_count":189,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/378800000014095656\/cf2bcfcb9c795ebc9f7b0a6e4ec9bfa9.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/378800000014095656\/cf2bcfcb9c795ebc9f7b0a6e4ec9bfa9.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000077419305\/d0e46636dbb485ecfa7c58fe7077ddb5_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000077419305\/d0e46636dbb485ecfa7c58fe7077ddb5_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1563031316\/1372796947","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},{"id":2163241854,"id_str":"2163241854","name":"CodingDojo
        Berlin","screen_name":"CodingDojoBer","location":"Berlin","url":"https:[...]
