---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="7e12e950b812d682e9b905657291fa66",
        oauth_signature="gIrwz1EhKXhhb9SI4rUKXDH1kJM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389556382", oauth_token="1402673720-WdCTqWDVATFhz97jNjbWcmHxYhBKpYS40HzQKZV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 12 Jan 2014 19:53:02 GMT
      status:
      - 200 OK
      x-access-level:
      - read-write-directmessages
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '12'
      x-rate-limit-reset:
      - '1389556394'
      x-transaction:
      - a6fb443c05dcb843
    body:
      encoding: UTF-8
      string: '{"id":1402673720,"id_str":"1402673720","name":"hacken.in","screen_name":"hacken_in","location":"Germany","description":"An
        event calendar for nerds, geeks & hackers","url":"http:\/\/t.co\/vaKF7mRRtN","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/vaKF7mRRtN","expanded_url":"http:\/\/hacken.in","display_url":"hacken.in","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":96,"friends_count":155,"listed_count":2,"created_at":"Sat
        May 04 15:51:25 +0000 2013","favourites_count":3,"utc_offset":3600,"time_zone":"Berlin","geo_enabled":false,"verified":false,"statuses_count":71,"lang":"de","status":{"created_at":"Sun
        Jan 12 12:41:59 +0000 2014","id":422347726379294720,"id_str":"422347726379294720","text":"@webmontag_cgn
        Findet ab jetzt alles in der Wohngemeinschaft statt?","source":"\u003ca href=\"http:\/\/tapbots.com\/tweetbot\"
        rel=\"nofollow\"\u003eTweetbot for iOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":422343159717576704,"in_reply_to_status_id_str":"422343159717576704","in_reply_to_user_id":2288084282,"in_reply_to_user_id_str":"2288084282","in_reply_to_screen_name":"webmontag_cgn","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"webmontag_cgn","name":"Webmontag
        K\u00f6ln","id":2288084282,"id_str":"2288084282","indices":[0,14]}]},"favorited":false,"retweeted":false,"lang":"de"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000139255062\/00f2ce70ceaf92763071b8e34b118c6a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000139255062\/00f2ce70ceaf92763071b8e34b118c6a_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 12 Jan 2014 19:53:02 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?screen_name=hacken_in&cursor=-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="a8eb4f4af37af21b4f5211321c9c5e8d",
        oauth_signature="eFMtg4Ymlplui%2FOO%2BBrRnsdtcR8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389556382", oauth_token="1402673720-WdCTqWDVATFhz97jNjbWcmHxYhBKpYS40HzQKZV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 12 Jan 2014 19:53:03 GMT
      status:
      - 200 OK
      x-access-level:
      - read-write-directmessages
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '6'
      x-rate-limit-reset:
      - '1389557276'
      x-transaction:
      - 5f59839a63abce43
    body:
      encoding: UTF-8
      string: '{"users":[{"id":2288084282,"id_str":"2288084282","name":"Webmontag
        K\u00f6ln","screen_name":"webmontag_cgn","location":"Cologne","description":"","url":"http:\/\/t.co\/L8JcqTM1XG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/L8JcqTM1XG","expanded_url":"http:\/\/webmontag-koeln.de","display_url":"webmontag-koeln.de","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":0,"created_at":"Sun
        Jan 12 12:01:32 +0000 2014","favo[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?screen_name=hacken_in&cursor=1456958618892978992
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="a6c457290626599c36622bc15bdd0969",
        oauth_signature="B97h3eejd4uEx7TNdXlfgP3rIhY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389556383", oauth_token="1402673720-WdCTqWDVATFhz97jNjbW[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?screen_name=hacken_in&cursor=1456958332322954193
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="f0424524876bfd186dc344e2edc14f5b",
        oauth_signature="VPBx7XdkXarXFDJqEviQTzIZnIk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389556385", oauth_token="1402673720-WdCTqWDVATFhz97jNjbWcmHxYhBKpYS40HzQKZV",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Sun, 12 Jan 2014 19:53:06 GMT
      status:
      - 200 OK
      x-access-level:
      - read-write-directmessages
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '3'
      x-rate-limit-reset:
      - '1389557276'
      x-transaction:
      - 542d6adbfe65749e
    body:
      encoding: UTF-8
      string: '{"users":[{"id":15372187,"id_str":"15372187","name":"Infopark AG","screen_name":"infopark","location":"Berlin,
        Germany","description":"Hier twittern Christiana Arnold \/ca und Sandra Schmidt
        \/sch von der Infopark AG \u00fcber interessante Themen im Web. \r\nImpressum:
        http:\/\/t.co\/OjMBPSFgvf","url":"http:\/\/t.co\/5ALbGsleDb","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5ALbGsleDb","expanded_url":"http:\/\/www.infopark.de","display_url":"infopark.de","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/OjMBPSFgvf","expanded_url":"http:\/\/bit.ly\/156xLlu","display_url":"bit.ly\/156xLlu","indices":[126,148]}]}},"protected":false,"followers_count":1014,"friends_count":940,"listed_count":48,"created_at":"Thu
        Jul 10 00:26:29 +0000 2008","fa[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?screen_name=hacken_in&cursor=1456957561178157112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="sQKayKmw8T2TztmDOIudhg", oauth_nonce="cbf52557fcde8d826271bf7b643f5d17",
        oauth_signature="xQtTKzJElr%2F6QmRor3Y90a9nBeg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1389556389", oauth_token="1402673720-WdCTqWDVATFhz97jNjbWcmHxYhBKpYS40HzQKZV",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rate-limit-limit:
      - '15'
      x-rate-limit-remaining:
      - '0'
      x-rate-limit-reset:
      - '1389557276'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Sun, 12 Jan 2014 19:53:09 GMT
[...]
