= render partial: "menu"

:markdown

  Welcome to the styleguide of [hacken.in](http://hacken.in). Here we want to
  document all components you can use to add features to the site. 

  # Coding Style

  * Use soft-tabs with a two space indent.
  * Put spaces after : in property declarations.
  * Put spaces before { in rule declarations.
  * Use hex color codes #000 unless using rgba.
  * Use // for comment blocks (instead of /* */).
  * Document styles with KSS.lease follow the naming rules define

  Here is good example syntax:

  ```
  // This is a good example!
  .styleguide-format {
    border: 1px solid #0f0;
    color: #000;
    background: rgba(0,0,0,0.5);
  }
  ```

  # SCSS Style

  * Any ``$variable`` or @``mixin`` that is used in more than one file should be put in ``globals/``. Others should be put at the top of the file where they're used.
  * As a rule of thumb, don't nest further than 3 levels deep. If you find yourself going further, think about reorganizing your rules (either the specificity needed, or the layout of the nesting).

  # Class naming conventions

  Never reference ``js-`` prefixed class names from CSS files. ``js-`` are used exclusively from JS files.

  # Disclaimer

  These rules are highly inspired by and copied from [github](https://github.com/styleguide/css).
