#head-carousel.carousel.slide
  .carousel-inner
    .active.item
      Test #1
    .item
      Test #2
    .item
      Test #3
  %a.carousel-control.left{href:'#head-carousel', data: {slide: "prev"}}
    &lsaquo;
  %a.carousel-control.right{href:'#head-carousel', data: {slide: "next"}}
    &rsaquo;