- title "Abonnieren"

- content_for :javascript_assets do
  subscribe

- content_for :javascript do
  %script{type: "text/javascript", src: "http://tile.cloudmade.com/wml/latest/web-maps-lite.js"}
  :javascript
    $(function() {
      $(".clippy_row div img").each(function(num,div) {
        var clip = new ZeroClipboard.Client();
        clip.setText($(this).parent().prev().val());
        clip.glue($(this).parent().attr("id"));
      });

      $(".ical_link_field").mouseup(function(){
        this.select();
        return false;
      });
    });

.abbonieren
  %p
    Die iCal URL zum Abonnieren des gesamten Kalenders:

  .clippy_row
    %input.ical_link_field{ size: 40, value: url_for( action: "general", controller: "ical", format: "ical", only_path: false )}

    #general_link
      = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

  - if user_signed_in?
    %p
      Nur die Termine Abonnieren, an denen man teilnimmt:

    .clippy_row
      %input.ical_link_field{ size: 40, value: url_for(action: "personalized", controller: "ical", format: "ical", only_path: false, guid: current_user.guid ) }
      #personal_link
        = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

    %p
      Alle Termine bis auf solche, deren Tags ausgeschlossen wurden:

    .clippy_row
      %input.ical_link_field{ size: 40, value: url_for(action: "like_welcome_page", controller: "ical", format: "ical", only_path: false, guid: current_user.guid ) }
      #like_welcome
        = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

:markdown
  # Google Calendar

  In der linken Spalte neben "Other Calendars" auf den Pfeil klicken und dann auf "Add by URL".

  Nun einfach die URL des Kalenders einfügen.

  # Apple iCal

  Im Menü "Kalender" auf "Abonnieren" klicken und dort die URL des Kalenders einfügen. Bei "Automatisch
  Aktualisieren" bitte "täglich" auswählen.

  [Zurück zur Übersicht](/)
