#german_map

.description
  :markdown  
    [Hacken.in](http://hacken.in). Dein Kalender für Events rund ums Hacken, Geek-Kultur und alles, was zum Nerdsein gehört. 

    Momentan gibt es uns für [Berlin](http://hacken.in/move_to/berlin) und [Köln](http://hacken.in/move_to/koeln).

