#german_map

.description
  :markdown  
    [Hacken.in](http://hacken.in). Dein Kalender für Events rund ums Hacken, 
    Geek-Kultur und alles, was zum Nerdsein gehört. 
    Momentan gibt es uns für [Berlin](move_to/berlin), [Köln](move_to/koeln) 
    und [München](move_to/muenchen).
