<h1>Events für Hacker</h1>

<p>
  Hacker, Entwickler, Geek, Nerd? Langweilst du dich in deinem Keller? Dann bist du hier genau
  richtig. Hier gibt's eine Auflistung aller Events rund um Köln.
</p>

<h2>Events</h2>

<p>
  Hier fehlt ein Event? Dann schick mir eine <a href="mailto:mail@hcking.de">Email</a>.
</p>

<p id="disclaimer">
  Dieser Event-Kalender ist ein Service von <a href="http://bitboxer.de">Bitboxer</a>. 
  <a href="/impressum">Impressum</a>.
<p>
