.row
  #head-carousel.carousel.slide.span6
    .carousel-inner
      = render partial: "boxes/carousel_box", collection: @carousel
    %a.carousel-control.left{href:'#head-carousel', data: {slide: "prev"}}
    %a.carousel-control.right{href:'#head-carousel', data: {slide: "next"}}

.row
  .span6
    = render partial: 'modules/calendars/minical'

.row.content-teasers
  = render partial: "boxes/grid_box", collection: @first_row

.row.content-teasers
  = render partial: "boxes/grid_box", collection: @second_row

.row
  .abo-box
    Abonniere unseren monatlichen Newsletter!
    %form{action:"http://nerdhub.us5.list-manage.com/subscribe/post?u=748434db1c6d583cbe804429c&amp;id=0ea62d267d", method:"post", id:"mc-embedded-subscribe-form", name:"mc-embedded-subscribe-form", target:"_blank"}
      %input{type: "email", name: "EMAIL", placeholder: "E-Mail-Adresse", required: true}
      %input{type: "submit", value: "Absenden"}
