.row
  .span6
    = render partial: 'modules/carousel'

.row
  .span6
    = render partial: 'modules/calendars/minical'

.row.content-teasers
  = render @first_row

.row.content-teasers
  = render @second_row

.row
  .abo-box
    Abonniere unseren monatlichen Newsletter!
    %form
      %input{type: "text", placeholder: "E-Mail-Adresse"}
      %input{type: "submit", value: "Absenden"}
