.row
  .span6
    = render partial: 'modules/carousel'
  
.row
  .span6.minical
    MINICAL
    
.row
  = render partial: 'modules/articles/preview'
  .span2.box
    BOX1
  .span2.box
    BOX2
  .span2.box
    BOX4

.row
  .span2.box
    BOX5
  .span2.box
    BOX6
  .span2.box
    BOX7

.row
  .span6.abo-box
    News Letter Abo

.row
  .span6.abo-box
    News Letter Abo

.row
  .span6.abo-box
    News Letter Abo
