- unless event.venue.nil? or event.venue.latitude.blank? or event.venue.longitude.blank?
  :javascript
    function initialize() {
      var eventLocation = new L.LatLng(#{event.venue.latitude}, #{event.venue.longitude});

      var map = new L.Map('mapCanvas', { center: eventLocation, zoom: 13 });

      var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/785896de12ad4cf892e32b9ec16b5cde/997/256/{z}/{x}/{y}.png';
      var cloudmade = new L.TileLayer(cloudmadeUrl);
      map.addLayer(cloudmade);

      var markerLocation = eventLocation;

      var marker = new L.Marker(eventLocation);
      map.addLayer(marker);
    }

    $(function() {
      $('.event-map').append('<div id="mapCanvas"></div>');
      initialize();
    });
