.event-venue.row
  - unless event.venue.nil? or event.venue.latitude.blank? or event.venue.longitude.blank?
    :javascript
      function initialize() {
        var eventLocation = new L.LatLng(#{event.venue.latitude}, #{event.venue.longitude});

        var map = new L.Map('mapCanvas', { center: eventLocation, zoom: 15, scrollWheelZoom: false });

        L.tileLayer('//{s}.tile.thunderforest.com/transport/{z}/{x}/{y}.png', {
        	attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        	maxZoom: 19
        }).addTo(map);

        var markerLocation = eventLocation;

        var marker = new L.Marker(eventLocation);
        map.addLayer(marker);
      }

      $(function() {
        $('.event-venue-map').append('<div id="mapCanvas"></div>');
        initialize();
      });

    .event-venue-map.column.large-8
    .event-venue-address-small.column.large-4
      = render "events/venue", event: @single_event

  - else
    .event-venue-address-full.column.large-12
      = render "events/venue", event: @single_event
