- unless event.latitude.blank? or event.longitude.blank?
  - content_for :javascript do
    %script{:type => "text/javascript", :src => "http://tile.cloudmade.com/wml/latest/web-maps-lite.js"}
    :javascript
      function initialize() {
        var cloudmade = new CM.Tiles.CloudMade.Web({
            key: '785896de12ad4cf892e32b9ec16b5cde',
            styleId: 997
        });
        var map = new CM.Map('map_canvas', cloudmade);

        var myMarkerLatLng = new CM.LatLng(#{event.latitude}, #{event.longitude});
        var myMarker = new CM.Marker(myMarkerLatLng);

        map.setCenter(myMarkerLatLng, 14);
        map.addOverlay(myMarker);
        map.addControl(new CM.SmallMapControl());

      }

      $(function() {
        $('.map').append('<div id="map_canvas" style="width:350px; height:250px"></div>');
        initialize();
      });


