- next_events = event.single_events.in_future.limit(5)
- next_events_without_this = next_events.reject { |single_event| single_event == current_single_event }

- unless next_events_without_this.empty?
  .next-events-container
    %h3.black-bar-small-title nächste Termine

    .next-events
      %ul.next-events-list
        - next_events_without_this.each do |next_event|
          %li.next-event
            = link_to event_single_event_path(next_event.event, next_event), class: 'next-event-link' do
              .next-event-date
                = I18n.localize next_event.occurrence, format: "%a, %d. %b %Y - %H:%M Uhr"
              %h4.next-event-title= next_event.name
