%h3.black-bar-small-title aktuelle Termine

.next-events
  - next_events = @event.single_events.in_future.limit(5)
  - if next_events.empty?
    %p
      %em aktuell keine Termine
  - else
    %ul.next-events-list
      - @event.single_events.recent.each do |next_event|
        %li.next-event
          = link_to event_single_event_path(@event, next_event), class: 'next-event-link' do
            .next-event-date
              = I18n.localize next_event.occurrence, format: "%a, %d. %b %Y - %H:%M Uhr"
            %h4.next-event-title= next_event.name
