%h1 Alle vergangenen Events

%ul
  - @events.each do |single_event|
    %li
      = link_to single_event.name, event_single_event_path(single_event.event, single_event)
      
      <br/>
      = render "tags/tags", tag_list: single_event.tag_list

- if can? :create, Event
  %p
    = link_to "Event hinzufügen", new_event_path

= link_to t('common.back'), :back