%h1 Alle Events

%ul
  - @events.each do |event|
    %li
      = link_to event.name, event_path(event)
      <br/>
      = render "tags/tags", tag_list: event.tag_list

= link_to t('common.back'), root_path
