%h1 Alle Events

%ul
  - Event.order(:name).each do |event|
    %li
      = link_to event.name, event_path(event)
      <br/>
      = render "tags/tags", tag_list: event.tag_list

= link_to "Zurück", root_path
