
.span2.box
  %article.article.article-preview{ style: 'border-top: 3px solid #f7ca18;' }
    = image_tag 'test-article-leute.png', class: 'article-image'
    %h2.article-subtitle Jelly beans pudding brownie dessert
    %h1.article-title Topping chupa chups icing carrot


