- title "Was soll das?!"

%p
  Hacker, Entwickler, Geek, Nerd? Langweilst du dich in deinem Keller? Dann bist du hier genau
  richtig. Hier gibt's eine Auflistung aller Events rund um Köln.

%p
  Als ich nach Köln gezogen bin, fehlte mir eine Übersicht aller Nerd-Events hier. Es
  gibt nämlich echt viele. Nicht so viele wie in Berlin, aber das können wir ja alle zusammen
  noch ändern :) . Hier soll es eine Übersicht geben über diese Events.

%p
  Diese Seite soll allerdings nicht die Webseiten der Events ablösen, sondern nur auf die
  Events hinweisen und auf diese verlinken.

%p
  Damit hier wirklich alle Events gesammelt sind, brauche ich allerdings deine Hilfe. Wenn
  ein Event fehlt, schicke mir einfach eine <a href="mailto:mail@hcking.de">Email</a> und
  ich füge ihn hinzu. Am coolsten sind Links mit automatisch importierbaren Kalendern.

%p
  Willst du immer auf dem laufenden bleiben? Dann abonniere einfach den Kalender. Dazu einfach
  den <a href="http://hcking.de/ical.ics">iCal-Link</a> in deine Kalender-Anwendung hinzufügen.

%p
  Alle hier gesammelten Daten stehen unter der Creative Commons By-Nc.

%p
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/de/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/de/88x31.png" /></a>

%p
  <a href="/">Zurück zur Übersicht</a>
