- content_for :javascript_assets do
  subscribe

- title "Abonnieren"

%p
  Die iCal-URL zum abonnieren des Kalender ist:

%input{:size=> 40, :id => "icallink", :value => url_for(:action=>"index", :controller=>"ical", :format => "ical", :only_path => false)}

%span{:id => "d_clip_button"} Klick hier

<script language="JavaScript">
var clip = new ZeroClipboard.Client();
clip.setText( $('#icallink').val() );
clip.glue( 'd_clip_button' );
</script>

:markdown
  # Google Calendar

  In der linken Spalte neben "Other Calendars" auf den Pfeil klicken und dann auf "Add by URL".

  Nun einfach die URL des Kalenders einfügen.

  # Apple iCal

  Im Menü "Kalender" auf "Abonnieren" klicken und dort die URL des Kalenders einfügen.

  [Zurück zur Übersicht](/)
