- title "Was soll das?!"

:markdown
  Hacker, Entwickler, Geek, Nerd? Langweilst du dich in deinem Keller? Dann bist du hier genau
  richtig. Hier gibt's eine Auflistung aller Events rund um Köln.

  Als ich nach Köln gezogen bin, fehlte mir eine Übersicht aller Nerd-Events hier. Es
  gibt nämlich echt viele. Nicht so viele wie in Berlin, aber das können wir ja alle zusammen
  noch ändern :) . Hier soll es eine Übersicht geben über diese Events.

  Diese Seite soll allerdings nicht die Webseiten der Events ablösen, sondern nur auf die
  Events hinweisen und auf diese verlinken.

  Damit hier wirklich alle Events gesammelt sind, brauche ich allerdings deine Hilfe. Wenn
  ein Event fehlt, schicke mir einfach eine [E-Mail](mailto:mail@hcking.de) und
  ich füge ihn hinzu. Am coolsten sind Links mit automatisch importierbaren Kalendern.

  Willst du immer auf dem laufenden bleiben? Dann abonniere einfach den Kalender. Dazu einfach
  den [iCal-Link](/abonnieren) in deine Kalender-Anwendung hinzufügen.

  Alle hier gesammelten Daten stehen unter der Creative Commons By-Nc.

  <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/de/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/de/88x31.png" /></a>

  [Zurück zur Übersicht](/)
