- title "Danke"

%p
  Hacken.in ist ein
  %a{href: "http://de.wikipedia.org/wiki/OpenSource"} OpenSource
  Projekt und hätte ohne die Verwendung von OpenSource-Software nie das Licht der Welt erblickt.
  Das bedeutet, dass Du den Quellcode lesen kannst - oder auch einfach mitmachen!

%p
  Wir möchten an dieser Stelle dankend die Projekte erwähnen, die uns geholfen oder inspiriert haben.
  Die Liste ist nicht vollständig. Eine fehlende Erwähnung bedeutet nicht, dass das Projekt geschmäht wird.

%ul
  %li
    %a{href: "http://ruby-lang.org/"} Ruby
    &amp;
    %a{href: "http://rubyonrails.org/"} Ruby on Rails
  %li
    %a{href: "https://github.com"} GitHub
  %li
    %a{href: "https://travis-ci.org/"} Travis
  %li
    %a{href: "https://codeclimate.com/"} CodeClimate
  %li
    %a{href: "https://shellycloud.com/"} ShellyCloud
