- title "Impressum"

:markdown
  ## Impressum

  ### Anbieter:
  Bodo Tasche    
  Richard-Sorge-Str. 58    
  10249 Berlin

  ### Kontakt:
  e-Mail: [admin@hacken.in](mailto:admin@hacken.in)    
  twitter: [@hacken_in](http://twitter.com/hacken_in)

  ### Verantwortlich nach § 5 TMG (Telemediengesetz)
  Bodo Tasche    
  Richard-Sorge-Str. 58    
  10249 Berlin

  ### Wir verwenden...
    * [IconDock Social Media Icons](http://icondock.com/free/vector-social-media-icons)
    * [Font Awesome](http://fortawesome.github.com/Font-Awesome)
    * Das Logo basiert auf einem Logo von [Adrijan Karavdic](http://thenounproject.com/term/calendar/6869/) unter CC-BY 3.0 US 

  ### Datenschutz

  Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“) Google Analytics verwendet
  sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website
  durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich
  Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese
  Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber
  zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.
  Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit
  Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google
  in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern;
  wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können.
  Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen
  Art und Weise und zu dem zuvor benannten Zweck einverstanden.
