.newsletter
  .row
    .abo-box
      Abonniere unseren wöchentlichen Nerdletter!
      %form{action:"http://nerdhub.us5.list-manage.com/subscribe/post?u=748434db1c6d583cbe804429c&amp;id=0ea62d267d", method:"post", id:"mc-embedded-subscribe-form", name:"mc-embedded-subscribe-form", target:"_blank"}
        %input{type: "email", name: "EMAIL", placeholder: "E-Mail-Adresse", required: true}
        %input{type: "submit", value: "Absenden"}
