.markdown_info
  .preview
    %a{href: '#', class: 'show-comment button tiny disabled'}= t('common.show_comment')
    %a{href: '#', class: 'show-preview button tiny'}= t('common.show_preview')
  .info
    %small
      %em= raw t('common.markdown_info', syntax_link: "http://daringfireball.net/projects/markdown/syntax")
  .clear
