.help
  .preview
    %a{href: '#', class: 'show-comment btn btn-mini disabled'}= t('common.show_comment')
    %a{href: '#', class: 'show-preview btn btn-mini'}= t('common.show_preview')
  .info
    %small
      %em= raw t('common.markdown_info', syntax_link: "http://daringfireball.net/projects/markdown/syntax")
  .clear
