- content_for :title do
  = t('.title')

= render partial: 'modules/calendars/startselector', locals: { months: @months, dates: @dates }

- unless @calendar.empty?
  - @calendar.each do |day|
    = render partial: 'modules/calendars/day', locals: { day: day }
- else
  .well
    Herzlichen Glückwunsch, du hast das Ende unseres Kalenders erreicht :-)
