
%h2 Events mit dem Tag "#{params[:tagname]}"

- unless @events.empty?
  - @events.each do |event|
    %p
      = link_to event.name, event_path(event)
      = render 'tags/tags', :tag_list => event.tag_list
      
- else
  %p Es scheint keine Events mit diesem Tag zu geben.
