
.event.event-preview
  .event-image
    margin: 0
    padding: 0
    display: block
    width: 100%
    height: auto
  .event-text
    color: #fff
    background: #000
    padding: 18px 20px
    overflow: hidden
    text-overflow: ellipsis
    a
      color: #fff
      text-decoration: none
      font-weight: bold


.event.event-mini
  &.dark
    color: $lightest_text_color

  .event-header
    overflow: auto

  .event-content
    margin-left: 25px
    margin-top: 5px

  .event-category
    float: left
    position: relative
    top: 2px

  .event-title
    width: 200px
    font-size: 15px
    font-weight: bold
    float: left
    margin-left: 10px

  .event-time
    font-weight: bold

  .event-location
    margin-top: 10px

.event.event-detail, .event.single-event
  margin-top: 20px
  .event-info
    .event-description
      .event-content-field
        padding: 15px 5px
        .content-field-icon
          margin-top: 5px

    .event-homepage, .event-twitter-handle
      .content-field-text
        font-size: 18px
        font-weight: bold
        text-overflow: ellipsis
        overflow: hidden

    .event-content-field
      overflow: auto
      padding: 5px 5px

      .content-field-icon
        float: left
        width: 80px
        font-size: 30px
        margin-left: 13px
      .content-field-text
        float: left
        width: 520px

    .event-venue
      margin-top: 15px
      font-size: 18px
      font-weight: bold
      line-height: 1.5em

.event-map
  margin-top: 35px
  #mapCanvas
    width: 100%
    height: 400px

.event-participators
  overflow: auto
  width: 100%

  .no-participators
    margin-top: 20px

  .event-participators-list
    margin: 20px 0 0 0
    list-style-type: none
    overflow: auto

    .participator
      float: left
      margin: 0 0 20px 20px
      &.cuddle-to-left
        margin-left: 0

  .participate-button
    display: inline-block
    text-transform: uppercase
    margin-right: 20px


.event-external-links
  margin-top: 15px
  text-align: center

  .external-link
    margin-left: 40px
    &:first-child
      margin-left: 0

.next-events
  margin-top: 10px
  .next-events-list
    list-style-type: none
    margin-left: 17px

    .next-event
      .next-event-link
        color: $text_color
        text-decoration: none
      .next-event-date
        font-family: Vollkorn, serif
        font-size: 14px
      .next-event-title
        font-size: 15px
        margin: 0
        padding: 0

.social-display-bar
  .twitter
    float: right
    margin-left: 20px
  .facebook
    float: right
    position: relative
