%table.table
  - categories.each do |c|
    %tr
      %td
        = render partial: 'modules/categories/indicator', locals: { color: c.color, size: '16px' }
      %td
        %label{for: "cat-#{c.id}"}
          = c.title
      %td
        %input{id: "cat-#{c.id}", type: 'checkbox', name: 'calendar_category', value: c.id }
