/*
  A button suitable for giving stars to someone.

  .red       - Make it red
  :hover - Make it green

  Styleguide 1.1
*/
.nice {
  font-family: "Times New Roman";
  font-size: 30px;
  &:hover {
    background-color: green !important;
  }
}

.nice.red {
  color: red !important;
}
