.comments {
  margin-top: 15px;

  h3 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .comment {
    @include grid-row();
    margin-bottom: 15px;

    .comment-gravatar {
      @include grid-column(1);
      padding-left: 0;
      padding-right: 0;
    }

    .comment-content {
      @include grid-column(11);
    }
  }

  .previewable {
    min-height: 200px;
  }

  .comment-form {
    @include grid-row();
    .comment-gravatar {
      @include grid-column(1);
      padding-left: 0;
      padding-right: 0;
    }
    .content {
      @include grid-column(11);

      textarea {
        height: 200px;
      }
    }
    .buttons {
      @include grid-row();

      .markdown-preview {
        @include grid-column(6);
        padding-left: 0;
      }
      .submit-button {
        @include grid-column(6);
        text-align: right;
        padding-right: 0;
      }
    }
  }
}
