ul.controls {
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px;
  float: left;
  width: 100%;

  li {
    @media #{$medium-up} {
      float: left;
    }
    margin-right: 12px;

    a {
      position: relative;
      top: 15px;
    }
  }
}
