%header
  %nav.top-bar{ data: { topbar: true } }
    %ul.title-area
      %li.name
        %h1= link_to 'hacken.in', :root

      %section.top-bar-section
        %ul.right
          %li
            %a.left-off-canvas-toggle.menu-icon
              %span
          %li
            %a.right-off-canvas-toggle
              Search
