@mixin calendar-selector($margin-left-of-li, $width-of-li, $number-of-li) {
  ul {
    width: $number-of-li * ($width-of-li + $margin-left-of-li);
  }

  li {
    width: $width-of-li;
    margin-left: $margin-left-of-li;
  }
};

.calendar-startselector {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  nav {
    @include grid-row();
    overflow: hidden;
    position: relative;

    ul {
      @include inline-list;
      @include grid-column(12);
      position: absolute;
      padding-left: 0;
      padding-right: 0;
    }

    li.active {
      border-bottom: 4px solid $alert-color;
    }
  }

  .months {
    background: $secondary-color;
    @include calendar-selector(20px, 40px, 20);
    height: 30px;

    .today {
      font-weight: bold
    }
  }

  .days {
    background: #eaeaea;
    border-bottom: 1px solid #a0a0a0;
    @include calendar-selector(20px, 60px, 20);
    height: 106px;

    li.today {
      .weekday, .day {
        font-weight: bold !important;
      }
    }

    li {
      .weekday {
        margin-top: 16px;
        margin-bottom: -16px
      }

      .day {
        font-size: $h1-font-size;
        font-weight: 300;
      }

    }
  }
}

.day-divider {
  @include grid-row();
  background: #eaeaea;
  padding: 20px 0;

  h2 {
    @include grid-column(10);
    font-size: $h5-font-size;
    line-height: 20px;
    margin: 0;
  }

  a {
    @include grid-column(2);
    color: $body-font-color;
    text-align: right;

    img {
      width: 20px;
    }
  }
}

.calendar-loading {
  @include grid-row();
  height: 100px;
}

.single-event {
  @include grid-row();

  margin-top: 10px;
  border-bottom: 1px solid #eaeaea;

  .indicator-wrapper {
    margin-left: 20px;
    margin-right: 10px;
    float: left;
  }

  .indicator {
    margin: 5px 0px;
    width: 5px;
    height: 50px;
  }

  .short-description {
    @include grid-column(10);
  }

  h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: $body-font-color;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #898e91;
  }

  p.additional-info {
    font-size: $base-font-size;
    color: #898e91;
    padding-left: 18px;
    background: 0px 5px image-url("marker.png") no-repeat;
  }

}
