ul.calendar-startselector-months, ul.calendar-startselector-days {
  @include inline-list;
  margin-bottom: 0;

  li.active {
    border-bottom: 4px solid $alert-color;
  }
}

ul.calendar-startselector-months {
  background: $secondary-color;
}

ul.calendar-startselector-days {
  background: $primary-color;

  li {
    .weekday {
      margin-top: 16px;
      margin-bottom: -16px
    }

    .day {
      font-size: $h1-font-size;
      font-weight: 300;
    }
  }
}

.day-divider {
  background: $primary-color;
  padding: 20px 0;

  h2 {
    font-size: $h5-font-size;
    margin: 0;
  }
}

.indicator {
  width: 5px;
  height: 50px;
  margin: 5px 0;
};

.single-event {
  h3 {
    margin: 0;
  }

  h4 {
    font-size: $base-font-size;
    margin: 0;
  }

  p.additional-info {
    font-size: $base-font-size;
  }

  h3, h4, p.additional-info {
    color: $body-font-color;
  }
}
