@import url(http://fonts.googleapis.com/css?family=Vollkorn)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700)

body
  padding-top: 60px

.box
  min-height: 300px
  background-color: red

.abo-box
  border: 2px solid #000

.this-is-cologne
  height: 175px
  background-color: maroon

.minical
  background-color: orange

.row.content-teasers
  margin-bottom: 40px


.main-nav
  position: relative
  top: 30px

  .main-nav-link
    font-family: 'Droid Sans', sans-serif
    font-size: 16px
    font-weight: bold
    color: #000 !important

    &.last
      padding-right: 0
    &:hover
      text-decoration: underline !important

  .active
    .main-nav-link
      text-decoration: underline !important

