// Variable Decleration
// ATTENTION: If you change one of these values
// don't forget to change the images as well
$page_background: #A5BDCE
$header_background: #2C2C2C
$content_background: #F1F1F1
$content_foreground: #333
$content_border: #8F8F8F
$content_width: 840px
$logo_height: 146px

// Design and Layout

body
  background-color: $page_background
  font-family: Verdana, Helvetica, Arial
  font-size: 14px

header
  position: relative
  height: $logo_height
  width: $content_width - 40px
  margin: 20px auto 0
  padding: 30px 25px
  img
    float: left
    margin-right: 20px
  a.logo
    display: block
    float: left
    clear: right
    padding-top: 60px
    height: $logo_height - 60px
    font-size: 26px
    text-decoration: none
    color: #CCC
    &:hover
      text-decoration: underline

header.with_aside
  background: $header_background image-url("header_background_with_aside.png") no-repeat bottom

header.without_aside
  background: $header_background image-url("header_background_without_aside.png") no-repeat bottom

header #user_login
  color: white
  position: absolute
  bottom: 12px
  right: 10px
  a
    color: #A5BDCE
    &:visited
      color: #A5BDCE

section
  position: relative
  width: $content_width - 80px
  margin: 0 auto
  color: $content_foreground
  padding: 20px 40px
  border-left: solid 1px $content_border
  border-right: solid 1px $content_border
  border-bottom: solid 1px $content_border
  a
    img
      border: none
    color: $content_foreground - #222
  h1, h2
    color: $content_foreground - #222
  h3
    background: image-url("heading_background.png") no-repeat
    background-position: left
    display: block
    padding: 10px 0px 0px 46px
    width: 250px - 46px
    height: 50px - 10px
    position: relative
    left: -46px

section.with_aside
  background: image-url("content_background.png") repeat-y

section.without_aside
  background: $content_background

aside
  float: right
  margin-left: 20px
  width: 230px

// Event taglists
ul.tags
  list-style-type: none
  display: block
  font-size: 80%
  margin-top: 10px
  padding-left: 0px

ul.tags li
  display: inline
  background: #ddd
  border: 1px solid #aaa
  padding: 2px 5px
  border-radius: 3px 3px


footer
  width: $content_width
  margin: 0px auto
  padding-top: 10px
  font-size: 11px
  text-align: center
  color: black
  a
    color: black

// Flash

.flash_notice, .flash_error, .flash_alert
  padding: 5px 8px
  margin: 10px 0 

.flash_notice
  background-color: #CFC
  border: solid 1px #6C6

.flash_error, .flash_alert
  background-color: #FCC
  border: solid 1px #C66

.fieldWithErrors
  display: inline

// Error Messages

.error_messages
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font-size: 12px
  h2
    text-align: left
    font-weight: bold
    padding: 5px 10px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    margin: 8px 10px
  ul
    margin: 0

// Misc Styles

.address
  font-style: italic

.clear
  clear: both
  height: 0
  overflow: hidden

#fb_like, #twitter_like
  height: 25px

#fb-root div
  overflow: hidden !important

#map_canvas
  float: right
  margin-left: 10px
  border: 1px solid #afafaf

.abbonieren
  input#icallink
    float: left
    width: 200px
    margin-right: 5px
  img#clip_button
    margin-top: 3px
