// Call it sidebar
$sidebar-divider-color: #262930;

section.main {
  @media #{$medium-up} {
    @include grid-column(10);
  }
}

aside.sidebar {
  .social-login {
    @include grid-column(12);
    @include button;
  }

  @media #{$small-only} {
    @include off-canvas-menu(left);

    h3 {
      color: $topbar-link-color;
    }

    input[type=submit] {
      background-color: $alert-color;
      color: white;
      font-weight: bold;
    }

    hr {
      background-color: $sidebar-divider-color;
      height: 20px;
      border-width: 0px;
    }

    ul {
      @include off-canvas-list;
    }
  }

  @media #{$medium-up} {
    @include grid-column(2);
    background-color: $secondary-color;

    input[type=checkbox] {
      display: inline;
    }

    label {
      margin: 0px;
    }

    .social-login {
      padding: 10px 5px;
    }

    ul {
      list-style-type: none;
      padding-bottom: 20px;
      li {
        a {
          color: $body-font-color;
          @include grid-row(12);
        }
      }
    }
  }
}
