nav.top-bar {

  .name {
    margin-left: 4px;
  }

  li.search_form {
    @include grid-row($behavior: collapse);
  }

  .search-field {
    @include grid-column($columns: 8, $collapse: true);

    input {
      line-height: 18px;
      border: none;
      font-size: 0.575rem;
    }
  }

  .search-button {
    @include grid-column($columns: 4, $collapse: true);

    a.button {
      line-height: 16px;
      padding-left: 12px;
      padding-right: 12px;
      font-size: 0.575rem;
    }
  }

  @media #{$medium-up} {
    .sidebar-toggle {
      display: none;
    }
  }
}

