.users_show
  ul.link_list
    margin-left: 0px
    margin-top: 20px
    li
      height: 35px
      list-style-type: none
      .content-field-icon
        float: left
        width: 80px
        font-size: 30px
      .content-field-text
        float: left
        width: 520px
        font-size: 18px
        font-weight: bold
        text-overflow: ellipsis
        overflow: hidden
        a
          color: black
  .comment_headline
    margin-top: 20px
    margin-bottom: 0px
  .comment
    border: none
    .comment-content
      width: 520px
