- content_for :title do
  Vorschlag

%h1= t "suggestions.show.title"

%dl
  - ["name", "occurrence", "description", "more_as_text", "place"].each do |attr|
    - unless @suggestion[attr].blank?
      %dt= t "suggestion.#{attr}"
      %dd= @suggestion[attr]
