<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat verlangt, das Passwort f체r dein Konto zu 채ndern. Wenn du dies angefordert hast, kannst du das Passwort 체ber <%= link_to 'diesen Link', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %> tun.</p>

<p>Wenn du das Passwort nicht 채ndern willst, kannst du diese EMail ignorieren.</p>
