<p>Hallo <%= @resource.email %>!</p>

<p>Dein Konto wurde gesperrt wegen zu vieler erfolgloser Loginversuche.</p>

<p>Um das Konto wieder zu aktivieren, musst du auf folgenden Link klicken:</p>

<p><%= link_to 'Konto aktivieren', unlock_url(@resource, unlock_token: @resource.unlock_token) %></p>
